html {
  font-size: 8px;
}

@media (min-width: 320px) {
  html {
    font-size: 10px;
  }
}

.swiper-button-next {
  color: #424750 !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border: 1px solid #c0c2c5;
  border-radius: 50%;
  --swiper-navigation-size: 24;
  top: 80%;
  right: 40px;
}
.swiper-button-prev {
  color: #424750 !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #fff;
  height: 40px;
  width: 40px;
  border: 1px solid #c0c2c5;
  border-radius: 50%;
  --swiper-navigation-size: 24;
  top: 80%;
  left: auto;
  right: 100px;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  right: 40px !important;
  left: auto;
}

.swiper-pagination {
  text-align: right;
}

span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 16px;
  height: 6px;
  border-radius: 50px;
  opacity: 1;
}

/* target all bullets */
.swiper-pagination-bullet {
  background-color: #0c0c0c;
  width: 4px;
  height: 4px;
}
